@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Montserrat;
  }
}

@layer components {
  .active-navlink {
    @apply flex items-center justify-center gap-2 rounded-md bg-white px-4 py-2 transition-transform duration-500 hover:scale-110 hover:bg-[#1c1c24c2] hover:text-white md:bg-[#1c1c24] md:text-white;
  }
  .paragraph {
    @apply text-justify  text-gray-600 md:text-lg;
  }
  .headingOne {
    @apply mt-8 w-full text-wrap text-xl font-bold text-gray-800 md:text-2xl;
  }
  .headingTwo {
    @apply my-3 w-full text-wrap text-lg font-semibold text-gray-700 md:text-xl;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1c1c2169;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #facc15;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
}
